<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>490968309317-i2gvimqe0v7jg1k55jp65juka5qnich9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490968309317-i2gvimqe0v7jg1k55jp65juka5qnich9</string>
	<key>API_KEY</key>
	<string>AIzaSyChHWWv2qnEj6TT25ncbvQCS9ZKohNuOyY</string>
	<key>GCM_SENDER_ID</key>
	<string>490968309317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Simply-Birthed</string>
	<key>PROJECT_ID</key>
	<string>simplybirthed-972ac</string>
	<key>STORAGE_BUCKET</key>
	<string>simplybirthed-972ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490968309317:ios:b8e38b9e1fc5b0fbb4cd2c</string>
</dict>
</plist>